html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;  /* impila navbar e main verticalmente */
}

.main {
    display: flex;
    justify-content: center;
    flex: 1;  /* occupa tutto lo spazio rimanente dopo la navbar */
}

.container {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.book-box {
  flex: 1;
  margin: 0;
  background: #fff;
  width: 100%;
  min-height: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row; /* solo una volta */
  gap: 20px;
}

.box_book_data, .box_cas-ed_data, .box_gen_data, .box_autor_data {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 25%;
}

.form_input,
.form_select {
  width: 100%;
  padding: 12px;
  background: #eee;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.form_input:hover {
  cursor: text;
}

.form_select:hover {
  cursor: pointer;
}

.book-box form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.log_reg-btn {
  width: 100%;   /* occupa tutta la larghezza → va sotto le due colonne */
  height: 50px;
  padding: 12px;
  background: #FF0000;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  transition: 0.25s;
}

.log_reg-btn:hover {
  background-color: #9C0005;
}