.form {
  margin: 5% auto; 
  background-color: #e14a4a;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  width: 30%;
}

.lbl {
  display: flex;
  justify-content: left;
}

.usrIn {
  margin: 10% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, select {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
}