@font-face {
  src: url(../fonts/Jost-VariableFont_wght.ttf);
  font-family: Jost;
}

@font-face {
  src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
  font-family: OpenSans;
}

@font-face {
  src: url(../fonts/SofiaSans-VariableFont_wght.ttf);
  font-family: SofiaSans;
}

* {
  font-family: SofiaSans, OpenSans, Jost;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #fff, #0D4ABC);
  color: #333;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #dfdfdf;
  height: 55px;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 28px;
}

.logo a h3 {
  margin-left: 10px;
  
  font-size: 28px;
  color: #000000;
}

.logo a h3:hover {
  cursor: pointer;
}

.logo a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  
}

.nav-links a {
  display: block;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  transition: all ease-in-out 100ms;
  color: black;
}

.nav-links a:hover {
  color: #FF0000;
  text-decoration: underline;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  margin: 0 15px;
}

.form-box {
  margin: 40px 0;
  background: #fff;
  width: 100%;
  max-width: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  display: none;
}

.form-box.active {
  display: block;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

input,
select {
  width: 100%;
  padding: 12px;
  background: #eee;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

input:hover {
  cursor: text;
}

select:hover {
  cursor: pointer;
}

.log_reg-btn {
  width: 100%;
  padding: 12px;
  background: #FF0000;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
  transition: 0.5s;
}

.log_reg-btn:hover {
  background-color: #9C0005;
}

p {
  font-size: 14.5px;
  text-align: center;
}

p a {
  color: #0D4ABC;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.error-message {
  padding: 6px 12px;
  background: #f8d7da;
  border-radius: 6px;
  font-size: 12px;
  color: #a42834;
  text-align: center;
  margin-bottom: 20px;
}

.datiDB {
  list-style-type: none;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 20px;
  padding: 0;
  background-color: #e5dbdb;
  display: flex;
  height: 30px;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  border-radius: 5px;
}

.rigaAlternata {
  background-color: #e14a4a;
  color: white;
}

table {
  justify-content: center;
  align-items: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:hover {
  background-color: #f06f6f;
  color: #000000;
} 


.dropdown {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
}

/* Style the dropdown button */
.dropbtn {
  background-color: #00000000;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  transition: all ease-in-out 100ms;
  color: black;
  border: none;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content {
  top: 100%;
  left: 0;
  width: 100%;
}

/* Links inside dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
