@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #e44d4d;
  display: flex;
  height: 40px;
  justify-content: right;
  
  position: sticky;
  top: 0;
  border-radius: 5px;
}

ul li a {
  display: block;
  color: white;
  padding: 9px 8px;
  text-decoration: none;
  border-radius: 5px;
  align-items: center;
}

ul li a:hover {
  background-color: #f28d8d;
}

.datiDB {
  list-style-type: none;
  margin: 100px;
  margin-top: 40px;
  padding: 0;
  background-color: #e5dbdb;
  display: flex;
  height: 30px;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  border-radius: 5px;
}