@font-face {
  src: url(../fonts/Jost-VariableFont_wght.ttf);
  font-family: Jost;
}

@font-face {
  src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
  font-family: OpenSans;
}

@font-face {
  src: url(../fonts/SofiaSans-VariableFont_wght.ttf);
  font-family: SofiaSans;
}

* {
  font-family: SofiaSans, OpenSans, Jost;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-width: 800px;
}

body {
  background: linear-gradient(to right, #fff, #FF0000);
  color: #333;
  
}

body h2, h3 {
  margin: 10px 20px;
}

h2 {
  display: flex;
  justify-content: center;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #dfdfdf;
  height: 55px;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 28px;
}

.logo a h3 {
  margin-left: 10px;
  
  font-size: 28px;
  color: #000000;
}

.logo a h3:hover {
  cursor: pointer;
}

.logo a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links li{
  margin: 0 15px;
}

.nav-links a {
  display: block;
  padding: 30px 0;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  transition: all ease-in-out 100ms;
  color: black;
  
}

.nav-links a:hover {
  color: #FF0000;
  text-decoration: underline;
  cursor: pointer;
}

.datiDB {
  list-style-type: none;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 20px;
  padding: 0;
  background-color: #dfdfdf;
  display: flex;
  height: 30px;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  
}

/* Style the dropdown button */
.dropbtn {
  background-color: #00000000;
  padding: 15px 0;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  transition: all ease-in-out 100ms;
  color: black;
  border: none;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.dropdown-content {
  top: 100%;
  left: 0;
  width: 100%;
}

/* Links inside dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

table {
  display: flex;
  border-collapse: collapse;
  border-spacing: 0;
  justify-content: center;
}

td {
  text-align: left;
}

th {
  background-color: #FF0000;
  color: white;
  text-align: center;
}

th, td {
  padding: 5px;
  border-bottom: 2px solid #ddd;
}
/*
#search_bar {
  border: none;
  background-color:#00000000;
  border-bottom: 1px solid black;
}

#search_bar:focus {
  border-bottom: red;
  border: none;
}*/

.search_form form {
  display: flex;
  flex-direction:row;
}

#search_bar {
  width: 100%;
  padding: 8px;
  margin-right: 5px;
  background: #eee;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
}

#search_bar:hover {
  cursor: text;
}

#search_btn {
  width: 30%;
  padding: 8px;
  background: #FF0000;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  transition: 0.25s;
}

#search_btn:hover {
  background-color: #9C0005;
}